.random-planet {
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid #444;
  margin-bottom: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.planet-images {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-right: 20px;
}
